<div class="container">
    <div id="bg">
        <img src="/public/assets/img/burger.jpg" alt="">
    </div>


    <h1>Eat That Burger!</h1>

    <form class="create-form">
        <div class="form-group">
            <label for="nb">ADD A BURGER:</label>
            <input type="text" id="nb" name="burger_name">
            <button type="submit">Add Burger</button>
        </div>
    </form>

    <div class="row">
        <div class="waitingDevoured col-md-6">
            <h2>Burgers that are waiting to be devoured!</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}

                {{/unless}}
                {{/each}}

            </ul>
        </div>

        <div class="devoured col-md-6">
            <h2> Burgers that are devoured!</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
